$font_style_body: "Crimson Text", "Times New Roman", Times, serif;
$font_style_h1: Cambria;
$font_style_h2: "Open Sans", Arial, Helvetica, sans-serif;

$background_image: "images/louis-hansel-R6_o_PPAS94-unsplash.jpg";

$background_color_footer: black;
$color_footer: white;
